.input-group {
    //when screen is small do...
display: flex;
flex-direction: column;

margin-bottom: $m-size;
//this is how to use media query in sass
//when screen is small do...
@media (min-width: $desktop-breakpoint){
    flex-direction: row;

}
}

.input-group__item {
    margin-bottom:$s-size;
    @media (min-width: $desktop-breakpoint){
        margin-right: $s-size;
        margin: 0 $s-size 0 0;
    }

}